﻿/*   Wrapper/Body Start CSS   */
.pageSize {
    background-color: white;
    width: 60em;
    height:auto;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}
body {
    background-color: gray;
    margin: 0 auto;
    text-align: center;
}
/*   Wrapper/Body End CSS   */

/* Start Navigation Bar CSS and Wrapper CSS */
.navBarContainer{
    background-color: #007046;
    height: auto;
    text-align: center;
    margin: auto;
    border-radius: 2px;
}
.navBarList{
    display:inline;
    background-color: #007046;
    font:Times;
    text-align: center;
    margin: auto;
    width: 100px;
}
.navBarItem, li.navBarItem, .navBarItemP{
    color:white;
    background:  #007046;
    font-size: 1em;
    display:inline-block;
    text-align:center;
    font:Times;
    border-right: solid black 2px;
    position:relative;
    width: 100px;
}
.navBarItemP ul .subMenu2{
    position:absolute;
    border: 2px solid black;
    display: none;
    color:white;
    background:  #007046;
    margin: 0;
    top: 38px;
    padding: 0;
    float: none;
    width: 100%;
    left: 0;
    z-index: 2;
    list-style:none;
    }
.navBarItemP ul .subMenu1{
    list-style:none;
    position:absolute;
    border: 2px solid black;
    display: none;
    color:white;
    background:  #007046;
    margin: 0;
    padding: 0;
    float: none;
    width: 100%;
    left: 0;
    z-index: 100;
    }
.navBarItem a, .navBarItemP a{
    text-decoration: none;
    color: white;
    width: 100px;
}
.navBarItem a:hover, a.on, .navBarItemP a:hover, a.on{
    text-decoration: none;
    color: black;
}
footer a{
    text-decoration: none;
    color: black;
    text-align: center;
}
/*End Navigation Bar CSS and Wrapper CSS*/

#map_canvas{
    width: 500px;
    height: 400px;
    margin: 0 auto;
}
footer{
    background-color: #007046;
    width: 60.7em;
    height: 1.5em;
    margin: auto;
    border-radius: 5px;
}
footer a{
    color:white;
}
footer a:hover{
    color:black;
}
